.btn{
    width: 100px;
    height: 40px;
    background-color: #019160;
    border-radius: 4px;
    font-size: 13px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;

}
    .btn:hover{
        background-color: #2FBE8E;
    }
    .btn:focus{
        background-color: #01B075;
    }  
    .btn-add-employee{
        display: flex;
        outline: none ;
        border: none ;
        width: 140px;
        align-items: center;
        border-radius: 5px;
        color: #ffffff;
        font-family: GoogleSans-Regular;
        text-align: center;
        cursor: pointer;
    }
    .btn-refresh{
        width: 40px;
        height: 40px;
        background-image: url('../../Resource/icon/refresh.png');
        background-repeat: no-repeat;;
        background-position: center;
        outline: none ;
        border: 1px solid silver;
        
        background-color: #ffffff;
    }
    .btn-refresh:hover{
        background-color: #ffffff;
    }
    .btn-refresh:focus{
        background-color: #ffffff;
    }    
    .btn-close{
        background-image: url('../../Resource/icon/x.svg');
        background-repeat: no-repeat;;
        background-size: contain;
        width: 20px;
        height: 20px;
        outline: none;
        border: none;
        background-color: #ffffff;
       cursor: pointer;
        margin: 6px;
    } 
        .btn-close:hover{
            background-color: #dedede;
        }   
    .btn-avatar{
        background-image: url('../../Resource/img/default-avatar.jpg');
        background-repeat: no-repeat;;
        background-size: contain;
        width: 180px;
        height:180px;
        border-radius: 50%;
        border: 2px solid #dedede;
    }
    .btn-save{
        
        width: 100px;
        height:40px;
        border-radius: 5px;
        margin: 10px 20px 10px 16px;
        display: flex;
        align-items: center;
        padding-left: 20px;
        font-size: 16px;
        background-color: #019160;
        border: none;
        outline: none;
        cursor: pointer;
        color:  #ffffff;
    }
        .btn-save:hover{
            background-color: #2FBE8E;
        }
        .btn-save:focus{
            background-color: #01B075;
        }  
    .save-icon{
        background-image: url('../../Resource/icon/save.svg');
        background-repeat: no-repeat;;
        background-size: contain;
        width: 16px;
        height: 16px;
        margin-right: 5px;

    }
    .btn-destroy{
        width: 100px;
        height:40px;
        border-radius: 5px;
        margin: 10px 0px 10px 16px;
        display: flex;
        align-items: center;
        text-align: left;;
        padding-left: 40px;
        font-size: 16px;
        background-color: #dedede;
        border: none;
        outline: none;
        cursor: pointer;
        color:  black;
    }
    .btn-destroy:hover{
        color: red;
    }
