.btn {
    width: 100px;
    height: 40px;
    background-color: #019160;
    border-radius: 4px;
    font-size: 13px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
}

.btn:hover {
    background-color: #2FBE8E;
}

.btn:focus {
    background-color: #01B075;
}

.btn-add-employee {
    display: flex;
    outline: none;
    border: none;
    width: 140px;
    align-items: center;
    border-radius: 5px;
    color: #ffffff;
    font-family: GoogleSans-Regular;
    text-align: center;
    cursor: pointer;
}

.btn-refresh {
    width: 40px;
    height: 40px;
    background-image: url('../../Resource/icon/refresh.png');
    background-repeat: no-repeat;
    ;
    background-position: center;
    outline: none;
    border: 1px solid silver;
    background-color: #ffffff;
}

.btn-refresh:hover {
    background-color: #ffffff;
}

.btn-refresh:focus {
    background-color: #ffffff;
}

.btn-close,
.btn-warning-close {
    background-image: url('../../Resource/icon/x.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    outline: none;
    border: none;
    background-color: #ffffff !important;
    cursor: pointer;
    margin: 6px;
}

.btn-close,
.btn-warning-close:hover {
    background-color: #dedede;
}

.btn-avatar {
    background-image: url('../../Resource/img/default-avatar.jpg');
    background-repeat: no-repeat;
    ;
    background-size: contain;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 2px solid #dedede;
}

.btn-save {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    margin: 10px 20px 10px 16px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 16px;
    background-color: #019160;
    border: none;
    outline: none;
    cursor: pointer;
    color: #ffffff;
}

.btn-save:hover {
    background-color: #2FBE8E;
}

.btn-save:focus {
    background-color: #01B075;
}

.save-icon {
    background-image: url('../../Resource/icon/floppy-disk-new.svg');
    background-repeat: no-repeat;
    ;
    background-size: contain;
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.btn-destroy {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    margin: 10px 0px 10px 16px;
    display: flex;
    align-items: center;
    text-align: left;
    ;
    padding-left: 40px;
    font-size: 16px;
    background-color: #dedede;
    border: none;
    outline: none;
    cursor: pointer;
    color: black;
}

.btn-destroy:hover {
    color: red;
}

.btn-warning-save {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    margin: 5px 20px 5px 16px;
    padding-left: 20px;
    font-size: 16px;
    text-align: center;
    background-color: red;
    border: none;
    outline: none;
    cursor: pointer;
    color: #ffffff;
    padding-left: 6px
}

.btn-warning-destroy {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px 5px 16px;
    align-items: center;
    text-align: left;
    ;
    padding-left: 40px;
    font-size: 16px;
    background-color: #dedede;
    border: none;
    outline: none;
    cursor: pointer;
    color: black;
}

.btn-warning-destroy:hover {
    color: red;
    background-color: silver;
}

.btn-dropdown,
.btn-dropdown2 {
    outline: none;
    height: 40px;
    width: 40px;
    padding: 0px;
    background-color: #ffffff;
    margin: 0px;
    border-left: 1px solid #bbbbbb;
    border-right: 1px solid #bbbbbb;
    border-top: none;
    border-bottom: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: 13px;
    cursor: pointer;
}

.dialog-btn-dropdown,
.btn-dropdown3,
.btn-dropdown4,
.btn-dropdown5 {
    outline: none;
    height: 30px;
    width: 30px;
    padding: 0px;
    background-color: #ffffff;
    margin: 0px;
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
    border-top: none;
    border-bottom: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn-dropup,
.dialog-btn-dropup {
    outline: none;
    height: 40px;
    width: 40px;
    padding: 0px;
    background-color: #e5e5e5;
    margin: 0px;
    border-left: 1px solid #bbbbbb;
    border-left: 1px solid #bbbbbb;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn-dropdown:hover {
    background-color: #e5e5e5;
}

.btn-dropdown:focus {
    background-color: #e5e5e5;
}

.btn-dropdown3:hover {
    background-color: #e5e5e5;
}

.btn-dropdown3:focus {
    background-color: #e5e5e5;
}

.btn-dropdown4:hover {
    background-color: #e5e5e5;
}

.btn-dropdown4:focus {
    background-color: #e5e5e5;
}

.btn-dropdown5:hover {
    background-color: #e5e5e5;
}

.btn-dropdown5:focus {
    background-color: #e5e5e5;
}

.dialog-btn-dropdown:hover {
    background-color: #e5e5e5;
}

.dialog-btn-dropdown:focus {
    background-color: #e5e5e5;
}

.btn-dropdown2:hover {
    background-color: #e5e5e5;
}

.btn-dropdown2:focus {
    background-color: #e5e5e5;
}

.shortcut-icon {
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    background-image: url('../../Resource/icon/chevron-left.svg');
    background-repeat: no-repeat;
    background-color: #e5e5e5;
    background-size: contain;
    width: 32px;
    height: 32px;
    right: 0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.shortcut-icon2 {
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    background-image: url('../../Resource/icon/chevron-right.svg');
    background-repeat: no-repeat;
    background-color: #e5e5e5;
    background-size: contain;
    width: 32px;
    height: 32px;
    right: 0px;
}

.btn-editEmployee {
    background-image: url('../../Resource/icon/edit.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 28px;
    height: 28px;
    border: none;
    outline: none;
    background-color: #ffffff;
    cursor: pointer;
}

.btn-deleteEmployee {
    background-image: url('../../Resource/icon/delete.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 28px;
    height: 28px;
    border: none;
    outline: none;
    background-color: #ffffff;
    cursor: pointer;
}